body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  font-family: cursive;
  background-color: coral;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wedding-year {
  font-size: 50px;
  font-weight: bold;
}
